#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  box-sizing: border-box;
  text-align: center;
  color: purple
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#cloudsNSun{
  min-width: 30px;
  width: 300px;
  height: 300px;
  background-color: aqua;
  border-radius: 50%;
  color: rgb(250, 8, 8);
  padding: 1rem 1rem 1rem 3rem;
  border: navy 30px solid;
  position: relative;
  animation: loaderAnimation 3s infinite;
}

.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.container{
  /* background-color: rgba(19, 255, 200, 0.259); */
  background-color: #fcc049a1;
  padding: 1.5rem;
  border-radius: 2rem;
  border: solid 2px purple;
}

.fas{
  color: aliceblue;
  margin-bottom: 1rem;
}
.input-btn{
  padding: .5rem; 
  font-size: medium;
  border-radius: 1rem;
  max-width: 190px;
  border: solid 2px purple;
}
.search-btn{
  margin-left: .5rem;
 color: purple;
  background-color:#cfbaf0;
  border-radius: 50%;
  padding: .5rem;
  font-weight: bolder;
  border: 2.5px solid purple;
}

.list-container ul{
  border-top: 0;
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  
  padding: 0;
  text-align: left;
  }
  
  .list{
    list-style: none;
    
  }
  .weatherType{
    font-weight: bolder;
  }
  .container > h1{
    font-size: xx-large;
  }

  .buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .btn{
    padding: 1rem;
    width: 90px;
    border-radius: 2rem;
    font-size:medium;
    font-weight: bold;
    background-color: #cfbaf0;
    border: 2px solid purple;
    color: purple;
  }
 